*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,#fbc2eb,#a6c1ee);
}
#current-image-container{
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right,#141e30,#243b55);
    color: white;
    border-radius: 20px;
}
.image{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.date-list{
    color: blue;
    cursor: pointer;
}
#search-form{
    background-color: rgb(165, 206, 192);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 30%;
    margin:20px;
    border-radius: 20px;

}
input,button{
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
}
button{
    background-color: rgb(80, 190, 95);
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 100px;
    transition: all 0.2s ease-in;
}
button:hover{
    opacity: 0.8;
}
h2{
    margin: 20px;
}

#search-history{
    margin: 20px;
    width: 30%;
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

@media screen and (max-width:1200px){
    body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    #search-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 50%;
    }
    #search-history{
        width: 50%;
    }
    #date-head{
        white-space: pre;
    }
}